.nav {
    list-style: none;
    font-family: 'Rift';
    color: black;
    text-decoration: none;
}
.nav a:hover {
    color: #00A6E4;
}
body{
    max-width: 100%;
}
header{
    justify-content: space-between;
}
#header-logo{
    display: block;
   max-width: 150px;
    width: 150px;
   height: auto;
}
#search-bar{
    justify-content: end;
}
.navbarright{
    
}